In [120]:
import csv
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import minmax_scale
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

In [121]:
# Load Dataset
def load_data():
    geo_params = pd.read_csv('../Data/geo_params.csv')
    sales = pd.read_csv('../Data/sales.csv')
    sku = pd.read_csv('../Data/sku.csv')
    test = pd.read_csv('../Data/test.csv')
    
    ## Transform dataset
    
    sales['date'] = pd.to_datetime(sales['date'])
    
    # Fill null values with 0
    sales['price'].fillna(0, inplace=True)
    sales['sales'].fillna(0, inplace=True)
    
    # Normalize data
    sales[['price','sales']] = minmax_scale(sales[['price','sales']])
    
    sku.dropna(subset = ['Category'], inplace=True)
    #print(sku['Category'])
    
    del sku['Units'] # Null field
    
    return geo_params, sales, sku, test

In [122]:
[geo_params,sales,sku,test] = load_data()
print(sku)
# Categories to train the model
#cat_aux = (np.concatenate([c.split(',')  for c in sku['Category']]).ravel())
#Categories = np.unique(cat_aux)
#print(Categories)

       SKU                                           Category  \
0       24                                        Pomegranate
1      208                                   Water, sparkling
2     1008                           Water, import, sparkling
3    16649                                       Water, still
4    20872                                   Water, sparkling
5    26194                      Semi-hard coarse-pored cheese
6    32485                                             Banana
7    32490                                            Avocado
8    32546                                             Orange
9    32549                                         Grapefruit
10   32550                                              Lemon
11   39465                          Water, slightly sparkling
12   47330                      Semi-hard coarse-pored cheese
13   49207                                              Mango
14   49450                              Semi-hard bulk cheese
15   67802                                   Water, sparkling
16   89074                                         Milk cakes
17   96123                                         Grapefruit
18  134544                                               Kiwi
19  144184                                               Lime
20  219078                    Plain long loaf, own production
21  219149                Plain baguette loaf, own production
22  221793          Small flavored bread roll, own production
23  224200      Plain wheat bread, toast-type, own production
24  233272                           Water, import, sparkling
25  259516                          Sweet bun, own production
26  362721                   Plain fancy cake, own production
27  363713  Rye-wheat grain bread baked in the hearth, own...
28  369071                                       Water, still
29  375210  Plain baguette loaf baked in the hearth, own p...
30  437495                         Plain croissant, parbaking
31  440815                                       Water, still
32  503007                   Plain rye-wheat bread, parbaking
33  521941     Fancy strudel with poppy stuff, own production
34  534443                           Water, import, sparkling
35  543663                            Soft cheese, white mold
36  552806  Flavored baguette loaf baked in the hearth, ow...
37  552812  Plain bread roll baked in the hearth, own prod...
38  567970  Plain baguette loaf baked in the hearth, own p...
39  571255                      Semi-hard coarse-pored cheese
40  571258                           Semi-hard layered cheese
41  591899  Flavored wheat bread baked in the hearth, own ...
42  596031  Grain bread roll baked in the hearth, own prod...
44  638673  Small fancy bread with berry stuff, own produc...
45  642700                      Semi-hard coarse-pored cheese
46  650670                                      Milk desserts
47  660399  Flavored wheat bread baked in the hearth, own ...
48  666058  Small fancy bread with berry stuff, own produc...
49  690818                  Ciabatta, light, plain, parbaking
50  711838  Wheat bran bread baked in the hearth, own prod...
51  736357                                           Yoghurts
52  736360                                           Yoghurts
54  787133                                            Avocado
56  815381                                           Mandarin
59  838137                                            Avocado

                                                 Type  brandId  \
0                 Tropical fruit — Pomegranate— Plain      NaN
1       Therapeutic-table water — PET — from 1 to 2 L   1241.0
2            Therapeutic-table water — Import — Glass   1241.0
3           Table water — PET — from 1 to 2 L — Still   1241.0
4       Therapeutic-table water — PET — from 1 to 2 L   2693.0
5   semi-hard cheese — More expensive — National —...   2737.0
6                                      Banana — Plain      NaN
7                            Tropical fruit — Avocado      NaN
8                       Citrus fruit — Orange — Plain      NaN
9                   Citrus fruit — Grapefruit — Plain      NaN
10                       Citrus fruit — Lemon — Plain      NaN
11  Table water — PET — from 1 to 2 L — Slightly s...   1241.0
12  semi-hard cheese — More expensive — National —...   2737.0
13                     Tropical fruit — Mango — Plain      NaN
14  semi-hard cheese — Cheaper— National — Bulk — ...   7418.0
15  Table water — PET — from 1 to 2 L — Strongly s...   1330.0
16                                        Sponge cake   2724.0
17                 Citrus fruit — Grapefruit — Graded      NaN
18                       Tropical fruit — Kiwi— Plain      NaN
19                                Citrus fruit — Lime      NaN
20                              Bread — plain — wheat      NaN
21                              Baguette loaf — plain      NaN
22                                  Small bread rolls      NaN
23                              Bread — plain — wheat      NaN
24             Therapeutic-table water — Import — PET   2737.0
25                        Fancy bread — small — sweet      NaN
26                                            Cupcake      NaN
27                                   Bread — flavored      NaN
28          Table water — PET — from 1 to 2 L — Still   1330.0
29                              Baguette loaf — plain      NaN
30                                          Croissant   8314.0
31                  Table water — PET — more than 3 L   1330.0
32                          Bread — plain — rye-wheat   8274.0
33                        Fancy bread — large — sweet      NaN
34             Therapeutic-table water — Import — PET   1241.0
35  soft cheese — More expensive — Import — White ...   2737.0
36                           Baguette loaf — Flavored      NaN
37                                 Bread roll — plain      NaN
38                              Baguette loaf — plain   2737.0
39  semi-hard cheese — More expensive — National —...   2737.0
40  semi-hard cheese — More expensive — National —...   2737.0
41                                   Bread — flavored      NaN
42                                 Bread roll — grain      NaN
44                        Fancy bread — small — sweet      NaN
45  semi-hard cheese — More expensive — National —...   2737.0
46                        Milk desserts — up to 200 g   2313.0
47                                   Bread — flavored   2737.0
48                        Fancy bread — small — sweet      NaN
49                                           Ciabatta   8274.0
50                              Bread — plain — wheat   2737.0
51                              Yoghurt — firm —plain   8276.0
52                              Yoghurt — firm —plain   8276.0
54            Tropical fruit — Avocado — Ready to Eat      NaN
56                   Citrus fruit — Mandarin — Graded      NaN
59            Tropical fruit — Avocado — Ready to Eat      NaN

    lagerUnitQuantity  trademark  countryOfOrigin            Group
0                1.00        NaN              NaN  Tropical fruits
1                1.50     3670.0              1.0    Mineral water
2                0.50     4970.0             14.0    Mineral water
3                1.50     1323.0              1.0    Mineral water
4                1.50     4384.0              1.0    Mineral water
5                1.00     4891.0             16.0           Cheese
6                1.00        NaN              NaN  Tropical fruits
7                1.00        NaN              NaN  Tropical fruits
8                1.00        NaN              NaN  Tropical fruits
9                1.00        NaN              NaN  Tropical fruits
10               1.00        NaN              NaN  Tropical fruits
11               1.50     1323.0              1.0    Mineral water
12               1.00      297.0             16.0           Cheese
13               1.00        NaN              NaN  Tropical fruits
14               1.00     1192.0              1.0           Cheese
15               2.00     2781.0              1.0    Mineral water
16              28.00     1835.0              NaN          Yogurts
17               1.00        NaN             37.0  Tropical fruits
18               1.00        NaN              NaN  Tropical fruits
19               1.00        NaN              NaN  Tropical fruits
20             500.00     9666.0              1.0           Bakery
21             250.00     9666.0              1.0           Bakery
22              70.00     9666.0              1.0           Bakery
23             550.00     9666.0              1.0           Bakery
24               1.00     1839.0             14.0    Mineral water
25             200.00     9666.0              1.0           Bakery
26             300.00     9666.0              1.0           Bakery
27               1.00    15156.0              1.0           Bakery
28               2.00     2781.0              1.0    Mineral water
29             300.00    15156.0              1.0           Bakery
30              50.00     9666.0              6.0           Bakery
31               6.00     2781.0              1.0    Mineral water
32             340.00        NaN              1.0           Bakery
33               1.00    15156.0              1.0           Bakery
34               0.75     4970.0             14.0    Mineral water
35               1.00     8802.0              6.0           Cheese
36             300.00    15156.0              1.0           Bakery
37             400.00    15156.0              1.0           Bakery
38             300.00     9974.0              1.0           Bakery
39               1.00     1037.0             33.0           Cheese
40               1.00     1037.0             33.0           Cheese
41               1.00    15156.0              1.0           Bakery
42             400.00    15156.0              NaN           Bakery
44              80.00     9666.0              NaN           Bakery
45               1.00    11960.0             16.0           Cheese
46             120.00     1921.0              NaN          Yogurts
47             400.00     9974.0              NaN           Bakery
48              70.00     9666.0              NaN           Bakery
49             250.00     4043.0              NaN           Bakery
50             350.00     9974.0              NaN           Bakery
51             400.00     5070.0              NaN          Yogurts
52             350.00     5070.0              NaN          Yogurts
54               2.00     9666.0              NaN  Tropical fruits
56               1.00     9666.0              NaN  Tropical fruits
59               1.00     9666.0              NaN  Tropical fruits

AttributeError: 'list' object has no attribute 'to_numpy'

In [97]:
# Geo_params Headers
print(geo_params.head())

   geoCluster  cityId
0          21       1
1          47       1
2          48       1
3          92       1
4         112       1

In [98]:
# Sales Headers
print(sales.head())

           ID  geoCluster    SKU       date     price     sales
0  RR27956459          92  32485 2021-07-05  0.005284  0.004994
1  RR27956474          92  32549 2021-07-05  0.012335  0.000624
2  RR27956489         112  32485 2021-05-27  0.006263  0.004619
3  RR27956490         112  32485 2021-05-28  0.000000  0.000000
4  RR27956491         112  32485 2021-05-29  0.000000  0.000000

In [99]:
# Sku Headers
print(sku.head())

     SKU                      Category  \
0     24                 [Pomegranate]
1    208           [Water,  sparkling]
2   1008  [Water,  import,  sparkling]
3  16649               [Water,  still]
4  20872           [Water,  sparkling]

                                            Type  brandId  lagerUnitQuantity  \
0            Tropical fruit — Pomegranate— Plain      NaN                1.0
1  Therapeutic-table water — PET — from 1 to 2 L   1241.0                1.5
2       Therapeutic-table water — Import — Glass   1241.0                0.5
3      Table water — PET — from 1 to 2 L — Still   1241.0                1.5
4  Therapeutic-table water — PET — from 1 to 2 L   2693.0                1.5

   trademark  countryOfOrigin            Group
0        NaN              NaN  Tropical fruits
1     3670.0              1.0    Mineral water
2     4970.0             14.0    Mineral water
3     1323.0              1.0    Mineral water
4     4384.0              1.0    Mineral water

In [100]:
# Test Headers
print(test.head())

           ID  geoCluster    SKU        date  price_filled  sales
0  RR27956447          21  32485  2021-07-08         39.69    NaN
1  RR27956448          21  32485  2021-07-09         39.69    NaN
2  RR27956449          21  32485  2021-07-10         39.69    NaN
3  RR27956450          21  32485  2021-07-11         39.69    NaN
4  RR27956451          21  32485  2021-07-12         39.69    NaN

In [117]:
# Merge table sales and sku

df = pd.merge(sales, sku, on='SKU', how='inner')
(df.set_index(df.columns.drop('Category',1).tolist())['Category']
   .str.split(',', expand=True)
   .stack()
   .reset_index()
   .rename(columns={0:'Category'})
   .loc[:, df.columns]
)
df.head()
print(df)

                 ID  geoCluster     SKU       date     price     sales  \
0        RR27956459          92   32485 2021-07-05  0.005284  0.004994
1        RR27956489         112   32485 2021-05-27  0.006263  0.004619
2        RR27956490         112   32485 2021-05-28  0.000000  0.000000
3        RR27956491         112   32485 2021-05-29  0.000000  0.000000
4        RR27956492         112   32485 2021-05-30  0.000000  0.000000
...             ...         ...     ...        ...       ...       ...
4121838  RR55905027        3209  362721 2021-07-01  0.005104  0.001248
4121839  RR55905028        3209  362721 2021-07-02  0.005104  0.002497
4121840  RR55905029        3209  362721 2021-07-03  0.000000  0.000000
4121841  RR55905030        3209  362721 2021-07-04  0.005104  0.009988
4121842  RR55905031        3209  362721 2021-07-05  0.005104  0.002497

                                    Category            Type  brandId  \
0                                   [Banana]  Banana — Plain      NaN
1                                   [Banana]  Banana — Plain      NaN
2                                   [Banana]  Banana — Plain      NaN
3                                   [Banana]  Banana — Plain      NaN
4                                   [Banana]  Banana — Plain      NaN
...                                      ...             ...      ...
4121838  [Plain fancy cake,  own production]         Cupcake      NaN
4121839  [Plain fancy cake,  own production]         Cupcake      NaN
4121840  [Plain fancy cake,  own production]         Cupcake      NaN
4121841  [Plain fancy cake,  own production]         Cupcake      NaN
4121842  [Plain fancy cake,  own production]         Cupcake      NaN

         lagerUnitQuantity  trademark  countryOfOrigin            Group
0                      1.0        NaN              NaN  Tropical fruits
1                      1.0        NaN              NaN  Tropical fruits
2                      1.0        NaN              NaN  Tropical fruits
3                      1.0        NaN              NaN  Tropical fruits
4                      1.0        NaN              NaN  Tropical fruits
...                    ...        ...              ...              ...
4121838              300.0     9666.0              1.0           Bakery
4121839              300.0     9666.0              1.0           Bakery
4121840              300.0     9666.0              1.0           Bakery
4121841              300.0     9666.0              1.0           Bakery
4121842              300.0     9666.0              1.0           Bakery

[4121843 rows x 13 columns]

In [102]:
# Types of columns

print(df.dtypes)

ID                           object
geoCluster                    int64
SKU                           int64
date                 datetime64[ns]
price                       float64
sales                       float64
Category                     object
Type                         object
brandId                     float64
lagerUnitQuantity           float64
trademark                   float64
countryOfOrigin             float64
Group                        object
dtype: object

In [51]:
# Load train and test set

def load_sets(data):
    X = data[['date', 'price']].copy()
    y = data[['sales']].copy()
    trainX, testX, trainY, testY = train_test_split(X, y, test_size=0.1, shuffle=False)
    return trainX, trainY, testX, testY

In [109]:
# Train 1 model for each category
for category in Categories:
    print(category.strip())
    print(df['Category'])
    data = df.loc[df['Category'] == category]
    
    trainX, trainY, testX, testY = load_sets(data)
    
    
#print(category, trainX.shape, trainY.shape, testX.shape, testY.shape)
#print(Categories)

import
0                                     [Banana]
1                                     [Banana]
2                                     [Banana]
3                                     [Banana]
4                                     [Banana]
                          ...
4121838    [Plain fancy cake,  own production]
4121839    [Plain fancy cake,  own production]
4121840    [Plain fancy cake,  own production]
4121841    [Plain fancy cake,  own production]
4121842    [Plain fancy cake,  own production]
Name: Category, Length: 4121843, dtype: object

ValueError: With n_samples=0, test_size=0.1 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [29]:
trainX = train.iloc[:, :-1].to_numpy()
trainY = train.iloc[:, -1].to_numpy()

testX = test.iloc[:, :-1].to_numpy()
testY = test.iloc[:, -1].to_numpy()


# reshape input to be [samples, time steps, features]
trainX = np.reshape(trainX, (trainX.shape[0], 1, trainX.shape[1]))
testX = np.reshape(testX, (testX.shape[0], 1, testX.shape[1]))

NameError: name 'train' is not defined

In [ ]:
# create and fit the LSTM network

look_back = 1
model = Sequential()
model.add(LSTM(4, input_shape=(1, look_back)))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(trainX, trainY, epochs=100, batch_size=1, verbose=2)

In [ ]:
lstm_model(train, test)